/* TODO: this is somehow become too complicated, break or optimize. */

html, body  {
  height: 100%;
}

/* So search field not twitches. */
body {
  overflow-y: scroll;
}

#root {
  height: 100%;
}

#app-container {
  height: 100%;
}

#search-results-button-group {
  position: fixed;
  top: 60px;
  z-index: 200;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

#input-container {
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;

  /* For logout button. */
  display: flex;
  flex-direction: row;

  /* For search field button badge. */
  padding-top: 8px;
}


#search-results-container {
  height: 100%;
}

.search-results-selectable-wrapper {
  height: 100%;
}

#search-results-paper-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100% - 130px);

  position: absolute;
  top: 130px;
  z-index: 100;
  width: 90%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

#search-results-paper {
  margin-bottom: 32px;
}

#click-away-space {
  width: 100%;
  flex: 1 1 auto;
}

#footer {
  flex: 0 1 1px;
}

#input-form {
  width: 100%;
}

#logout-button {
  margin-top: 4px;
}

#login-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

#config-error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login-form {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form button {
  margin-top: 8px;
  height: 48px;
}

#login-container > div {
  margin: 4px;
}

#login-container > button {
  height: 40px;
}

.error {
  font-size: 18px;
  font-weight: 500;
  color: #f33;
  margin-top: 8px;
}

#login-button-group button:first-child {
  width: 70%;
}

#login-button-group button:last-child {
  width: 30%;
}

/* Overriding opacity. */
#search-results-container button:disabled {
  background-color: #e0e0e0 !important;
}

/* For fixed height of buttons. */
#search-results-container button {
  white-space: nowrap;
}

.search-results-row.selected {
  background-color: #e0e0e7;
}

.search-results-row.selecting {
  background-color: #eeeeee;
}

#search-results-table-head tr th:first-child,
.search-results-row td:first-child {
  width: 24px;
  padding-right: 8px !important;
}

#search-results-snackbar div {
  justify-content: center;
}

#select-all-button {
  width: 20%;
}

#copy-to-clipboard-button {
  width: 40%;
}

#copy-with-headers-button {
  width: 20%;
}

#deselect-all-button {
  width: 20%;
}

.duplicate, .not-found {
  background-color: #a22;
}

.duplicate td, .not-found td {
  color: #eee !important;
}

.search-results-row:not(.not-found):not(.duplicate) {
  cursor: pointer;
}

#demo-footer-container {
  border: 1px solid black;
  padding: 16px;
  margin: 16px;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}

#demo-footer-container ul {
  margin-top: 4px;
  list-style-type: square;
  color: #333;
}

#demo-footer-container span {
  color: #f33;
}
